{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}



<form method="post" class="">
    <div class="">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('deconnexion') }}">Logout</a>
        </div>
    {% endif %}
    <br><br>
    <h1 class="h3 mb-3 font-weight-normal ml-5">Please sign in</h1>
    <br>
    <label class="ml-5" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <br>
    <label class="ml-5" for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <br><br><br>
    <button class="rounded-md p-2  bg-blue-400 hover:bg-sky-700 ml-5 text-white" type="submit">
        Sign in
    </button>
    </div>
</form>


    <br><br><br><br><br><br><br><br>



{% endblock %}
