{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
    {# {{ dump(user) }} #}
    <!-- Entête -->
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Utilisateurs</h1>
                <p class="mt-2 text-sm text-gray-700">Une liste de tous les utilisateurs de votre plateforme, y compris leur nom, leur adresse e-mail, leur profil actif ou non ainsi que le detail de leur compte.</p>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <a href="{{ path('app_register') }}" type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Ajouter un Franchiseur</a>
                <a href="{{ path('app_registration_salle') }}" type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Ajouter une Salle</a>
                {#  <a href="" type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Ajouter une Salle</a> #}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3 pb-3">
                <!-- button actif inactif annuler -->
                <div class="">

                    <fieldset class="">
                        <legend class="sr-only">Choose a memory option</legend>
                        <div class="grid grid-cols-3 gap-3 sm:grid-cols-6">

                            <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                <input type="radio" id="active" name="memory-option" value="32 GB" class="sr-only" aria-labelledby="memory-option-3-label">
                                <span id="memory-option-3-label">Actif</span>
                            </label>


                            <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                <input type="radio" id="inactive" name="memory-option" value="64 GB" class="sr-only" aria-labelledby="memory-option-4-label">
                                <span id="memory-option-4-label">Inactif</span>
                            </label>


                            <label class="border rounded-md py-3 px-3 flex items-center justify-center text-sm font-medium uppercase sm:flex-1 cursor-pointer focus:outline-none">
                                <input type="radio" id="reset" name="memory-option" value="64 GB" class="sr-only" aria-labelledby="memory-option-4-label">
                                <span id="memory-option-4-label">Annuler</span>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- searchbar ajax -->
            <div class="col-9">
                <div class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" id="search" class="form-control" placeholder="Rechercher une franchise...">
                    </div>
                </div>
            </div>
        </div>
        <!-- tableau d'info -->
        <br>
        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead class="bg-gray-50">

                            <tr>
                                <th scope="col" class="py-3 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nom</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>


                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="result" class="divide-y divide-gray-200 bg-white">
                            {% if user is empty %}
                                <tr>
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 text-center">Aucun résultat</td>
                                </tr>
                            {% endif %}
                            {% for user in user %}
                                <tr>
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{user.name}}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ user.email }}</td><td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                         <div class="form-check form-switch">
                                          {#   <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if user.roles == ['ROLES_USER']%} disabled{% endif %}>
                                            <label class="form-check-label" for="flexSwitchCheckChecked">{{ user.isActive }}</label>#}
                                        </div>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm font-medium text-gray-500"><a href="{{ path('franchise', {'name':user.name }) }}">Détails</a></td>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- More people... -->
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>










    </div>
<br><br><br>
    <!-- jQuery is necessary -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        $('#search').keyup(function (){
            const data = [];
            data.push({
                'value': $('#search').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('administration') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        })



        $('#active').click(function (){
            const data = [];
            data.push({
                'value': $('#active').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('actif') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        })

        $('#inactive').click(function (){
            const data = [];
            data.push({
                'value': $('#inactive').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('inactif') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        })

        $('#reset').click(function (){
            const data = [];
            data.push({
                'value': $('#reset').val(),
            });
            const jsonString = JSON.stringify({data: data});
            $.ajax({
                type: "POST",
                url: "{{ path('reset') }}",
                data: 'data='+ jsonString,
                complete: function(html) {
                    $('#result').replaceWith(
                        $(html.responseText).find('#result')
                    );
                }
            });
        })









    </script>
{% endblock %}
