{% extends 'base.html.twig' %}

{% block title %}Salle de sport{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem;">

                <div class="card-body overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <b class="card-title">{{ user }}</b>
                    <br>
                    <br>
                    <p class="card-text">{{ structure.address}}</p>
                    <br>
                    <p class="card-text">{{ structure.email}}</p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="px-4 sm:px-6 lg:px-8">

                <div class="mt-8 flex flex-col">
                    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-300">

                                    <tbody class="divide-y divide-gray-200 bg-white">
                                {#     {{ form_start(form) }}
                                    <div class="row bg-gray-50">
                                        <div class="col-6">
                                            <div scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Options</div>

                                        </div>
                                        <div class="col-6">
                                            <div scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Activé</div>
                                        </div>
                                    </div>

                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        {{ form_row(form.boisson) }}
                                    </div>
                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        {{ form_row(form.accessoire) }}
                                    </div>
                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        {{ form_row(form.planning) }}
                                    </div>
                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        {{ form_row(form.abonnement) }}
                                    </div>
                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        {{ form_row(form.perso) }}
                                    </div>
                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        {{ form_row(form.collectif) }}
                                    </div>
                                    <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 text-center">
                                        <button>{{ form_row(form.submit) }}</button>
                                    </div>

                                   {#  {% for option in option %}
                                        <tr>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{option}}</td>
                                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                <!-- This example requires Tailwind CSS v2.0+ -->
                                                <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                                </div>

                                            </td>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {{ form_end(form) }} #}

                                    <!-- More people... -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <br>
    <!-- This example requires Tailwind CSS v2.0+ -->


{% endblock %}
