{% extends 'base.html.twig' %}

{% block title %}Salle de sport{% endblock %}

{% block content %}
    <br>
    {% if user.roles is same as ['ROLE_ADMIN']   %}
    <div class="text-end mr-2"><a href="{{ path('administration') }}">Retour vers l'accueil</a></div>
    {% endif %}
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-4 mt-5">
            <div class="card" style="width: 18rem;">

                <div class="card-body overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <b class="card-title">{{ user }}</b>
                    <br>
                    <br>
                    <p class="card-text">{{ structure.address}}</p>
                    <br>
                    <p class="card-text">{{ structure.email}}</p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="px-4 sm:px-6 lg:px-8">

                <div class="mt-8 flex flex-col">
                    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                          {#   <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">#}
                                <table class="min-w-full divide-y divide-gray-300">
                                    <thead class="bg-gray-50">

                                    <tr>
                                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Services proposés</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
                                        <span class="sr-only">Edit</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200 bg-white">
                                    {% if service is empty %}
                                        <tr>
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                <p class="text-red-400 italic text-center">Aucun service proposé dans cette salle</p>
                                            </td>
                                        </tr>
                                    {% else %}
                                        {% for service in service %}
                                            <tr>
                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ service.name }}</td>
                                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                                    <p class="text-lime-400 italic">Validé</p>
                                                </td>
                                                <div class="form-check form-switch">
                                                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                                </div>
                                                {#   <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><a href="{{ path('salle' ,{'id' : structure.id}) }}">Détails</a></td>#}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                           {#  </div>#}
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <br>
    <!-- This example requires Tailwind CSS v2.0+ -->


{% endblock %}
