{% extends 'base.html.twig' %}

{% block title %} Les Franchises {% endblock %}

{% block content %}
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Users</h1>
                <p class="mt-2 text-sm text-gray-700">name, title, email and role.</p>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <a href="{{ path('app_registration_salle') }}" type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Ajouter une Salle</a>
            </div>
        </div>
    </div>

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="px-4 sm:px-6 lg:px-8">

        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-300">
                            <thead class="bg-gray-50">

                            <tr>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Email</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Adresse</th>
                                <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                            {% for structure in structures %}
                                <tr>
                                    <td id="{{ structure.id }}" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{structure.email}}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ structure.address }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if user.roles == ['ROLE_USER']%} disabled{% endif %}>
                                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                    </div>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><a href="{{ path('salle' ,{'id' : structure.id}) }}">Détails</a></td>
                                </tr>
                            {% endfor %}

                            <!-- More people... -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>


    <div class="px-4 sm:px-6 lg:px-8">

        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

                        <table class="min-w-full divide-y divide-gray-300">

                            <tbody class="divide-y divide-gray-200 bg-white">
                        {#     {{ form_start(form) }}
                            <div class="row bg-gray-50">
                                <div class="col-6">
                                    <div scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Options</div>

                                </div>
                                <div class="col-6">
                                    <div scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Activé</div>
                                </div>
                            </div>

                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                {{ form_row(form.boisson) }}
                            </div>
                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                {{ form_row(form.accessoire) }}
                            </div>
                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                {{ form_row(form.planning) }}
                            </div>
                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                {{ form_row(form.abonnement) }}
                            </div>
                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                {{ form_row(form.perso) }}
                            </div>
                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                {{ form_row(form.collectif) }}
                            </div>
                            <div class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 text-center">
                                <a href="#">{{ form_row(form.submit) }}</a>
                            </div>

                            {{ form_end(form) }} #}



                            </tbody>
                        </table>
                      {#  <table class="min-w-full divide-y divide-gray-300">
                            <thead class="bg-gray-50">

                            <tr>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Options Globales</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Activé</th>


                                <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                            {% for option in options %}
                                <tr>
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{option}}</td>
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                        <!-- This example requires Tailwind CSS v2.0+ -->
                                        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                                    {% if user.roles == ['ROLE_USER']%} disabled
                                                    {% elseif user.roles == ['ROLE_ADMIN'] %} checked
                                                    {% endif %}>
                                            <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                        </div>

                                    </td>
                                    </td>
                                </tr>
                            {% endfor %}

                            <!-- More people... -->
                            </tbody>
                        </table> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}
